/* BASIC SETUP */

body{
  background-color: #000000;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-image: url('bkg.jpg');
  background-position: top left;
  text-align: center !important;
  overflow-y: scroll;
}

/* MUSIC HEADER >> Remove */
html body.bodyContent div table{
  display: none !important;
}
/* FIX >> MAIN MENU >> Music Header >> Remove */
html body.bodyContent div div table{
  display: block !important;
}
/* FIX >> EVENTS >> Music Header - Remove */
html body.bodyContent table div table{
  display: block !important;
}
/* MAIN MENU */
html body.bodyContent div div.profileWidth{
  margin-top: -10px !important;
  background-color: #FF3200 !important;
}
/* MAIN MENU >> Elements */
html body.bodyContent div div *{
  background-color: transparent;
}
/* MAIN MENU >> LINKS */
div.profileWidth table tr td div ul li a,
div.profileWidth table tr td div ul li a small,
div.profileWidth table tr td div ul li a *{
  text-transform: Uppercase;
  color: #dddddd !important;
  font-family: helvetica, arial, sans-serif !important;
}
div.profileWidth table tr td div ul li a:hover,
div.profileWidth table tr td div ul li a:hover small{
  background-color: #222222 !important;
  color: #dddddd !important;
}
/* (IE) MENU + BODY + FOOTER >> Set Width + Header Image BG */
html body table{
  width: 800px !important;
  margin: 0 auto;
  background-image: url("header-2.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border-left: 1px solid transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='header-2.png', sizingMethod="crop");
  _background-image: none;
  _border-left: none;
}
/* (IE) FIX >> MENU >> Header Image Removal */
html div table{
  background-image: none;
  filter: none !important;
  width: 800px !important;
}
/* (IE) FIX >> MENU >> Header Image Removal */
html body.bodyContent div div.profileWidth > table td{
  width: 800px !important;
}
/* (IE) FIX >> FOOTER >> Remove background image */
html body table table{
  width: auto !important;
  border: none;
  background-image: none;
  filter: none !important;
}
/* BODY >> Space from Menu */
body table table { 
  margin-top: 275px;
}
/* FIX >> BODY >> Body Elements */
body div table table,
body table table table,
.friendsComments { 
  margin-top: 0;
  background-image: none;
}
/* BODY >> Background color */
body table td{
  background-color: transparent;
}

/* ?? BODY >> LEFT COLUMN >> Remove Cloumn */
html body.bodyContent table tbody tr td table tbody tr td table{
  display: none;
}
/* ?? FIX >> EVENTS + BLOG + ABOUT + FRIENDS >> Body >> Left Column */
html body.bodyContent table tbody tr td table tbody tr td.text div table,
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry,
html body.bodyContent table tbody tr td table tbody tr td.text table,
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace{
  display: block;
}

/* BODY >> LEFT + MIDDLE COLUMN >> Remove */
html body table tbody tr td table tbody tr td{
  display: none;
}
/* FIX >> BODY >> RIGHT COLUMN >> Left + Middle Column */
html body table tbody tr td table tbody tr td.text,
html body table tbody tr td table tbody tr td.text td{
  display: block;
}

/* (IE) MAIN MENU >> AD >> Shorten Height & Add Background */
html body div div.profileWidth table tr td div.clearfix{
  height: auto !important;
  padding: 0;
  margin: 0;
  background-image: url('http://x.myspacecdn.com/modules/common/static/img/header/bkg_msbar.png');
  background-repeat: repeat-x;
  background-position: bottom left;
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://x.myspacecdn.com/modules/common/static/img/header/bkg_msbar.png', sizingMethod="scale");
}
/* MAIN MENU >> AD >> CONTAINER */
html body div div.profileWidth table tr td div.clearfix div[id$="header_gae"]{
  width: 728px !important;
  margin: 0 auto !important;
}
/* MAIN MENU >> MYSPACE LOGO CONTAINTER */
html body div div.profileWidth table tr td div.clearfix div.profile{
  margin-top: 0px !important;
}
/* (IE) MAIN MENU >> MYSPACE LOGO CONTAINTER >> LINK */
html body div div.profileWidth table tr td div.clearfix div.profile h1{
  margin-top: 5px !important;
  _padding-top: 6px !important;
}
/* (IE) MAIN MENU >> GOOGLE SEARCH CONTAINER */
html body div div.profileWidth table tr td div.clearfix div.profile{
  padding-top: 3px !important;
  padding-bottom: 0px !important;
  _padding-top: 5px !important;
}

/* BODY >> Removes column widths */
html body table tbody tr td{
  width: auto !important;
}
/* BODY >> Removes left column Spacing */
html body table tbody tr td img{
  display: none;
}
/* FIX >> BODY >> fixes images removal */
html body table tbody tr td td img{
  display: inline;
}

/* BODY >> Set Width */
html body table tbody tr td table tr td.text{
  width: 780px !important;
  display: block !important;
                                                                                            xbackground-color: blue;
  margin-top: -1px;
}
/* FIX >> MODULES >> Body >> Set Width */
html body table tbody tr td table tr td.text table td.text{
  width: auto !important;
}

/* (IE ONLY) BODY >> CONTAINER >> Set Relative for Absolute Elements inside */
html body table tbody tr td table td.text{
  _display: block !important;
  position: relative !important;
}
html body table tbody tr td table{
  position: relative !important;
  _position: inherit !important;
}

/*****************************************************************************************  NORMALIZE POSITIONS  *********/

/* ORIGINAL PLAYER */
html body table tbody tr td table tbody tr td.text div object,
html body table tbody tr td table tbody tr td.text div h5,
html body table tbody tr td table tbody tr td.text div p,
html body table tbody tr td table tbody tr td.text div a img{
  display: none !important;
  visibility: hidden !important;
  background-color: none !important;
}
html body table tbody tr td table tbody tr td.text div[id="tkn_trackingpixelband"],
html body table tbody tr td table tbody tr td.text div[style$="345px;"]{
  display: none !important;
}

/* Hide About Header & Line Breaks */
html body table tbody tr td table tbody tr td.text table tr td.text,
html body table tbody tr td table tbody tr td.text br{
  display: none !important;
}

/* RIGHT COLUMN >> TABLES - This Controls all tables though */
html body table tbody tr td table tbody tr td.text table{
  position: absolute !important;
  top: 0px;
  right: 0px;
  background-color: transparent !important;
}
/* FOR ABOUT SECTION - This Controls all tables though */
html body table tbody tr td table tbody tr td.text table table{
  position: relative !important;
  top: 0px;
  left:.05em;
  width: 780px !important;
  _left:0;
}
/*****************************************************************************************  MODULES  *********/

/* EVENTS >> CONTAINER */
html body table tbody tr td table tbody tr td.text div{
  position: absolute !important;
  top: 385px !important;
  right: 0px !important;
  width: 450px !important;
  height: 305px !important;
  display: block !important;
  overflow: auto !important;
  z-index: 9 !important;
  text-align: left !important;
  border: none !important;
  background-color: transparent !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
/* DISABLED PLAYER >> CONTAINER */
html body table tbody tr td table tbody tr td.text div[style$="width: auto; height:auto;"]{
  display: none !important;
  visibility: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important; 
}

/* CUSTOM PLAYER WRAPPER */
html body table tbody tr td table tbody tr td.text div.CustomPlayer{
  top: 0 !important;
  right: 0px !important;
  overflow: hidden !important;
  background-image: url('80-000000.png');
                                                                                                              xbackground-color: blue !important;
  display: block !important;
  width: 450px !important;
  height: 345px !important;
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='80-000000.png', sizingMethod="scale");
}
/* CUSTOM PLAYER WRAPPER >> FLASH */
html body table tbody tr td table tbody tr td.text div.CustomPlayer object{
  display: block !important;
  visibility: visible !important;
}

/* EVENTS >> Kill Header Text + Non Breaking Spaces */
html body table tbody tr td table tbody tr td.text div table td table td{
  font-size: 0px !important;
}

/* EVENTS >> Kill Header - Reduce All Children*/
html body table tbody tr td table tbody tr td.text div table td table td *{
  line-height: inherit !important;
  font-size: inherit !important;
}

/* EVENTS >> HEADER - Hide All Children */
html body table tbody tr td table tbody tr td.text div table td table span.whitetext12,
html body table tbody tr td table tbody tr td.text div table td table span.whitelink{
  display: none !important;
  font-size: 0px !important;
}

/* EVENTS >> Remove all Padding & Background Colors */
html body table tbody tr td table tbody tr td.text div table,
html body table tbody tr td table tbody tr td.text div table td,
html body table tbody tr td table tbody tr td.text div table tr{
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: top !important;
}

/* (IE) EVENTS >> Set Main Width */
html body table tbody tr td table tbody tr td.text div table{
  width: 410px !important;
  position: relative !important;
  z-index: 9 !important;
  border-collapse: collapse !important;
  table-layout: fixed !important;
  border-spacing: 0px !important;
                                                                                    xbackground-color: red !important;
  margin-left: 20px !important;
  _margin-left: 15px !important;
  _margin-top: -5px !important;
                                                                                    xheight: 350px !important;
}

/* FIX >> EVENTS >> Set Main Width */
html body table tbody tr td table tbody tr td.text div table table{
  width: auto !important;
  height: auto !important;
  border: none;
  margin-left: 0px !important;
  margin-top: 0px !important;
  width: 410px !important;
                                                                                    xoutline: 1px solid blue !important;
}

/* (IE) EVENTS >> DATE/TIME + VENUE + LOCATION >> CONTAINERS */
html body table tbody tr td table tbody tr td.text div table table td{
                                                                                    xoutline: 1px solid green !important;
  width: 130px !important;

  display: table-cell !important;
  text-transform: Uppercase;
  _padding-right: 6px !important;
}

/* FIX >> EVENTS >> DATE/TIME + VENUE >> CONTAINERS - + 10px width = 410px total  */
html body table tbody tr td table tbody tr td.text div table table td[width$="120"],
html body table tbody tr td table tbody tr td.text div table table td[width$="191"]{
  width: 140px !important;
  background-color: none;
}
html body table tbody tr td table tbody tr td.text div table table td[width$="115"]{
  padding-right: 3px !important;
}

/* (IE) EVENTS >> VENUE >> LINKS */
html body.bodyContent table tbody tr td table tbody tr td.text div table table td a{
  font-size: 10px !important;
  font-family: helvetica, arial, sans-serif !important;
  color: #FDFD49 !important;
  font-weight: normal !important;
  text-decoration: none !important;
  display: block !important;
  padding-right: 10px;
  text-transform: Uppercase;
  _padding-right: 4px !important;
}

/* EVENTS >> VENUE >> LINKS >> HOVER */
html body table tbody tr td table tbody tr td.text div table table td a:hover{
  color: #ffffff !important;
  text-decoration: none !important;
}

/* EVENTS >> DATE + TIME >> CONTAINER */
html body table tbody tr td table tbody tr td.text div table table table{
                                                                                      xborder: 1px solid blue;
  width: 130px !important;
}

/* EVENTS >> DATE + TIME >> CONTAINER >> CELLS */
html body table tbody tr td table tbody tr td.text div table table table td{
  border: none !important;
                                                                                      xborder: 1px solid yellow !important;
  text-transform: Uppercase !important;
  text-align: left !important;
  width: 62% !important;
  vertical-align: top !important;
  white-space: nowrap;
}
/* EVENTS >> DATE >> CONTAINER */
html body table tbody tr td table tbody tr td.text div table table table td[width$="85"]{
  width: 85px !important;
}
/* EVENTS >> TIME >> CONTAINER */
html body table tbody tr td table tbody tr td.text div table table table td[width$="35"]{
  width: 45px !important;
}

/* EVENTS >> DATE + TIME >> CONTAINER >> CELLS >> TEXT - Fix vertical Placement */
html body table tbody tr td table tbody tr td.text div table table table td font{
  line-height: 1.1em !important;
  _line-height: 1em !important;
}

/* (IE) EVENTS >> VENUE + DATE/TIME >> TEXT */
html body table tbody tr td table tbody tr td.text div table table td font{
  color: #ffffff !important;
  font-size: 10px !important;
  font-family: helvetica, arial, sans-serif !important;
  display: block !important;
  margin-bottom: 15px !important;
  _margin-bottom: 10px !important;
}

/* FIX >> EVENTS >> HEADER - Removed */
html body table tbody tr td table tbody tr td.text div table tr:first-child table[width$="440"]{
  display: none !important;
}

/* (IE) NEWS >> WRAPPER */
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry{
  position: absolute !important;
  display: block !important;
  width: 416px !important;
  right: 17px;
  top: 1104px;
  z-index: 9;
  _top: 1071px;
                                                                                xbackground-color: red !important;
}
/* FIX >> NEWS >> WRAPPER */
html body.bodyContent table tbody tr td table tbody tr td.text table[class$="latestBlogEntry"]{
  max-height: 275px !important;
}
/* NEWS >> WRAPPER >> HEADER */
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry span.btext{
  display: none;
}
/* NEWS >> WRAPPER >> HEADER >> SAFARI & FIREFOX ADJUSTMENTS >> Set Header Text Size Small to hide */
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry td{
  font-size: 1px;
  color: #000;
  color: transparent !important;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  padding-bottom: 20px !important;
  _text-indent: -300px;
  _padding-bottom: 20px !important;
}
/* FIX >> NEWS >> WRAPPER >> HEADER - this completely removes it */
html body.bodyContent table tbody tr td table tbody tr td.text table[class$="latestBlogEntry"] tr:first-child td{
  display: none;
}
/* (IE) NEWS >> LINKS */
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry td a{
  font-family: helvetica, arial, sans-serif !important;
  font-weight: normal !important;
  text-decoration: none !important;
  text-transform: Capitalize;
  font-family: helvetica, arial, sans-serif !important;
  color: #78D6FF !important;
  font-size: 10px !important;
  margin-left: 1em;
}
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry td a:hover{
  color: #ffffff !important;
  text-decoration: none !important;
}
/* (IE) NEWS >> SUBJECT */
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry td span.text{
  color: #ffffff !important;
  font-size: 10px !important;
  font-family: helvetica, arial, sans-serif !important;
  display: inline !important;
  margin-left: 300px;
  line-height: 13px;
  text-transform: Uppercase;
}
/* FIX >> NEWS >> LINK >> SAFARI & FIREFOX ADJUSTMENTS */
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry td a[href*="blog.view"]{
  clear: both;
  float: left;
  display: block !important;
  margin-left: 0px !important;
  margin-right: -3px !important;
  width: 100% !important;
  text-align: right;
  text-transform: Uppercase;
  letter-spacing: 1px;
  line-height: 12px !important;
  height: 12px !important;
  overflow: hidden;
  margin-top: -13px !important;
  vertical-align: top;
}
/* (FF2) FIX >> NEWS >> LINK >> FIREFOX ADJUSTMENTS */
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry td a[href*="blog.view"], x:-moz-any-link {
  margin-top: -1.2em !important;
  line-height: 9px !important;
  height: 9px !important;
  overflow:hidden;
  vertical-align: top;
  display: table-cell !important;
}
/* (FF3) FIX >> NEWS >> LINK >> FIREFOX ADJUSTMENTS */
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry td a[href*="blog.view"], x:-moz-any-link, x:default {
  margin-top: -15px !important;
  height: 10px !important;
  line-height: 10px !important;
}
/* FIX >> NEWS >> SUBJECT >> SAFARI & FIREFOX ADJUSTMENTS */
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry td span[class="text"]{
  display: block !important;
  width: 70% !important;
  margin: 0 0 0 0;
  padding-right: 30% !important;
  z-index: 5;
}
/* FIX >> NEWS >> FOOTER >> LINK >> Remove it completely */
html body.bodyContent table tbody tr td table tbody tr td.text table.latestBlogEntry td[valign$="top"]{
  display: none !important;
}

/*****************************************************************************************  CUSTOM ADDITIONS  *********/


/* (IE) EVENTS >> BACKGROUND */
span.CustomBlock_Events{
  position: absolute;
  width: 450px;
  height: 345px;
  display: block;
  right: 0;
  top: 365px;
  z-index: 1;
  background-image: url('80-000000.png');
                                                                                                              xbackground-color: yellow;
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='80-000000.png', sizingMethod="scale");
}
/* (IE) NAVIGATION >> BACKGROUND >> IMAGE >> Top should be same as menu spacer 275px */
span.CustomBlock_Nav{
  display:block;
  width: 800px;
  position: absolute;
  top: -275px;
  left: -10;
  background-image: url('80-000000.png');
  z-index: 5;
  _top: -276px;
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='80-000000.png', sizingMethod="scale");
}
/* (IE) NAVIGATION >> BACKGROUND >> NAV TEXT IMAGE */
span.CustomBlock_Nav b{
  display: block;
  width: 780px;
  overflow: hidden;
  height: 11px;
  margin: 10px;
  background-image: url('nav.png');
  background-repeat: no-repeat;
  background-position: center center;
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='nav.png', sizingMethod="crop");
}
/* (IE) NAVIGATION >> LINKS WRAPPER  >> Top should be same as menu spacer 275px */
span.CustomNav{
  display:block;
  width: 800px;
  position: absolute;
  top: -275px;
  left: -10px;
  z-index: 9;
  _top: -276px;
}
/* (IE) NAVIGATION >> LINKS WRAPPER >> LINKS CONTAINER */
span.CustomNav b{
  display: block;
  overflow: hidden;
  width: 780px;
  height: 11px;
  padding: 10px;
  text-align: left;
  _width: 800px;
  _height: 31px;
}
span.CustomNav b:hover{
  background-color: #000;
  background-image: url('nav.png');
  background-repeat: no-repeat;
  background-position: center center;
}
/* NAVIGATION >> LINKS WRAPPER >> CONTAINER >> LINKS */
span.CustomNav b a{
  display: block;
  height: 10px;
  float: left;
  text-decoration: none;
  background-color: transparent;
  margin-right: 19px;
  overflow: hidden;
  cursor: pointer;
}
span.CustomNav b a:hover{
  background-color: #000000;
  opacity: .50;
  filter: alpha(opacity=50);
}
span.CustomNav b a.photos{        width: 50px; }
span.CustomNav b a.sendMessage{   width: 98px; margin-right: 23px; }
span.CustomNav b a.addToFriends{  width: 87px; }
span.CustomNav b a.im{            width: 15px; }
span.CustomNav b a.addToGroup{    width: 78px; margin-right: 21px; }
span.CustomNav b a.sendToFriend{  width: 103px;margin-right: 24px;}
span.CustomNav b a.addToFavorites{width: 102px;margin-right: 22px; }
span.CustomNav b a.block{         width: 42px; margin-right: 25px;}
span.CustomNav b a.rank{          width: 33px; margin-right: 0px;}
/* (FF) NAVIGATION >> BACKGROUND + LINKS WRAPPER >> Moves over 1px left */
span.CustomBlock_Nav, span.CustomNav, x:-moz-any-link, x:default{
  left: -11;
}
/* (IE) ALBUM COVER */
span.CustomAlbum{
  display:block;
  width: 310px;
  height: 345px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('80-000000.png');
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='80-000000.png', sizingMethod="scale");
}
/* ALBUM COVER >> IMAGE */
span.CustomAlbum img{
  width: 270px;
  height: 270px;
  margin: 20px 20px 0px 20px;
}
/* ALBUM COVER >> LINK */
span.CustomAlbum a{
  display: block;
  width: 310px;
  height: 345px;
  text-align:center;
  text-decoration: none !important;
}
span.CustomAlbum a:hover{
  background-color: black;
  text-decoration: none !important;
}
/* (IE) ALBUM >> LINK >> IMAGE >> HOVER */
span.CustomAlbum a:hover img{}
/* (IE) ALBUM >> LINK >> TEXT >> HOVER */
span.CustomAlbum a:hover b{
  opacity: 0.50;
  cursor: pointer;
  filter: alpha(opacity=50);
}
/* (IE) ALBUM >> LINK >> ORDER TEXT */
span.CustomAlbum b{
  display: block !important;
  height: 55px;
  background-image: url('order.png');
  background-repeat: no-repeat;
  background-position: center center;
  _background-image: url('order.gif');
}
/* (IE) EVENTS >> HEADER */
span.CustomHeader_Events{
  position: absolute;
  width: 171px;
  height: 70px;
  top: 365px;
  right: 470px;
  background-image: url('tour.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  text-align: right;
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='tour.png', sizingMethod="crop");
}
/* EVENTS + VIDEO + NEWS + FRIENDS >> HEADER >> LINK WRAPPER */
span.CustomHeader_Events b,
span.CustomHeader_Video b,
span.CustomHeader_News b,
span.CustomHeader_Friends b{
  display: block;
  padding-top: 51px;
}
/* EVENTS + VIDEO + NEWS + FRIENDS >> HEADER >> LINK WRAPPER >> VIEW ALL LINK */
span.CustomHeader_Events a,
span.CustomHeader_Video a,
span.CustomHeader_News a,
span.CustomHeader_Friends a,
span.CustomBlock_Comments a{
  display: inline;
  line-height: 2em;
  font-family: helvetica, arial, sans-serif !important;
  text-decoration: underline !important;
  letter-spacing: 1px;
  font-weight: normal;
  color: #FDFD49 !important;
}
span.CustomHeader_Events a:hover,
span.CustomHeader_Video a:hover,
span.CustomHeader_News a:hover,
span.CustomHeader_Friends a:hover,
span.CustomBlock_Comments a:hover{
  color: #ffffff !important;
  border: none !important;
  text-decoration: none !important;
}
/* VIDEO */
span.CustomVideo{
  position: absolute;
  width: 410px;
  height: 300px;
  top: 730px;
  right: 0px;
  display: block !important;
  padding: 20px 20px;
  background-image: url('80-000000.png');
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='80-000000.png', sizingMethod="scale");
}
/* VIDEO >> HEADER */
span.CustomHeader_Video{
  width: 240px;
  height: 70px;
  position: absolute;
  top: 730px;
  right: 470px;
  background-image: url('videos.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  text-align: right;
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='videos.png', sizingMethod="crop");
}
/* VIDEO >> LINK */
span.CustomHeader_Video a{
  color: #6fbe44 !important;
}
/* NEWS >> HEADER */
span.CustomHeader_News{
  position: absolute;
  width: 161px;
  height: 70px;
  top: 1090px;
  right: 470px;
  background-image: url('news.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  text-align: right;
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='news.png', sizingMethod="crop");
}
/* NEWS >> LINK */
span.CustomHeader_News a{
  color: #78D6FF !important;
  margin-left: 1em;
}

/* NEWS >> BACKGROUND */
span.CustomBlock_News{
  position: absolute;
  width: 450px;
  height: 275px;
  display: block;
  right: 0;
  top: 1090px;
  z-index: 1;
  background-image: url('80-000000.png');
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='80-000000.png', sizingMethod="scale");
}
/* (IE) CREDITS >> BACKGROUND CONTAINER */
span.CustomBlock_Credits{
  position: absolute;
  width: 410px;
  height: 10px;
  top: 1385px;
  right: 0px;
  display: block !important;
  padding: 20px 20px;
  background-image: url('80-000000.png');
  z-index: 5;
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='80-000000.png', sizingMethod="scale");
}
/* (IE) CREDITS >> IMAGE */
span.CustomBlock_Credits b{
  display: block !important;
  height: 10px !important;
  width: 410px !important;
  overflow: hidden;  
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='credits.png', sizingMethod="crop"); 
}
/* CREDITS >> LINKS CONTAINER */
span.CustomCredits{
  position: absolute;
  width: 410px;
  height: 10px;
  top: 1385px;
  right: 0px;
  display: block !important;
  padding: 20px 20px;
  z-index: 9;
}
span.CustomCredits:hover{
  background-color: #000;
}
/* (IE) CREDITS >> LINKS CONTAINER >> LINKS WRAPPER >> Positions Everything */
span.CustomCredits b{
  display: block !important;
  height: 10px !important;
  width: 410px !important;
  overflow: hidden;
  background-image: url('credits.png');
  background-position: center center;
  background-repeat: no-repeat;
  _background-image: none;
}
/* CREDITS >> LINKS CONTAINER >> LINKS WRAPPER >> LINKS */
span.CustomCredits a{
  margin-top: 2px;
  height: 8px;
  float: left;
  width: 60px;
  background-color: transparent;
}
span.CustomCredits a:hover{
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
span.CustomCredits a.radiohead{     width: 58px; margin-right: 16px;  }
span.CustomCredits a.tbdRecords{    width: 72px; margin-right: 17px;  }
span.CustomCredits a.xlRecordings{  width: 82px; margin-right: 17px;  }
span.CustomCredits a.waste{         width: 49px; margin-right: 15px;  }
span.CustomCredits a.squad{         width: 84px; margin-right: 0px;   }

/* FRIEND SPACE >> TITLE */

/* FRIENDS >> HEADER */
span.CustomHeader_Friends{
  position: absolute;
  width: 252px;
  height: 70px;
  top: 1455px;
  right: 470px;
  background-image: url('friends.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  text-align: right;
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='friends.png', sizingMethod="crop");
}

/* FRIENDS >> LINK */
span.CustomHeader_Friends a{
  color: #FF0000 !important;
  margin-left: 1em;
}

/*FRIENDS >> BACKGROUND */
span.CustomBlock_Friends{
  position: absolute;
  width: 450px;
  height: 350px;
  display: block;
  right: 0;
  top: 1455px;
  z-index: 1;
  background-image: url('80-000000.png');
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='80-000000.png', sizingMethod="scale");
}
/* COMMENTS HEADER */
span.CustomHeader_Comments{
  position: absolute;
  right: 470px;
  top: 1825px;
  width: 310px;
  height: 41px;
  background-repeat: no-repeat;
  background-image: url('comments.png');
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='comments.png', sizingMethod="crop");
                                                                                                              xbackground-color: red;
}
/* COMMENTS >> CONTAINER */
span.CustomBlock_Comments{
  position: absolute;
  right: 0px;
  top: 1825px;
  width: 450px;
  height: 41px;
                                                                                                              xbackground-color: blue;
  text-align: right;
}
/* COMMENTS >> CONTAINER >> LINKS WRAPPER */
span.CustomBlock_Comments b{
  display: block;
  height: 41px;
  overflow: hidden;
}
/* COMMENTS >> CONTAINER >> LINKS WRAPPER >> LINKS */
span.CustomBlock_Comments a{
  color: #FDFD49 !important;
  margin-left: 20px;
  line-height: 40px;
  _line-height: 38px;
}

/*****************************************************************************************  MORE MODULES  *********/

/* (IE) FRIEND SPACE */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace{
  position: absolute !important;
  display: block !important;
  top: 1455px;
  right: 0px;
  width: 450px !important;
  height: 350px !important;
  overflow: hidden !important;
  table-layout: fixed !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 9;
  _height: 345px !important;
                                                                                        xbackground-color: blue !important;
}
/* (IE) FRIEND SPACE >> CONTENT WRAPPER */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text{
  display: block !important;
  width: 450px !important;
  height: 350px !important;
  overflow: hidden !important;
  float: left;
  _height: 345px !important;
  _float: none;
}
/* (IE) FRIEND SPACE >> CONTENT WRAPPER >> HEADER + FRIEND WRAPPER */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table{
  display: block !important;
  overflow: hidden !important;
  width: 450px !important;
  height: 350px !important;
  table-layout: fixed !important;
  float: left;
  _height: auto !important;
  _width: 440px !important;
  _float: none;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> HEADER + FRIEND HEADER >> Removed */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table[height$="20"],
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table td[colspan$="4"]{
  display: none !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> HEADER + FRIEND WRAPPER >> TEXT >> Minimizes text in header */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table td{
  font-size: 1px;
  line-height: 0px;
  color: #000;
  text-align: center;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> CONTENT */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td[class="text"] table td{
  display: table-cell !important;
  width: 410px !important;
  height: 310px !important;
  margin: 0 !important;
  vertical-align: top !important;
  text-align: left !important;
  padding: 20px !important;
                                                                                          xbackground-color: white !important;
}
/* (FF) FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> CONTENT */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td[class="text"] table td, x:-moz-any-link{
  padding-left: 19px !important;
}
/* FIX >> FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> CONTENT >> Children Cells */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td[class="text"] table td td{
  background-color: transparent !important;
  padding: 0 !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> HEADER WRAPPER >> TEXT >> Removes other text */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table tr td span.orangetext15,
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table tr td span.btext{
  display: none !important;
}
/* (IE) FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table{
  display: block !important;
  width: 426px !important;
  height: 307px !important;
  table-layout: fixed !important;
  margin: 0px;
  _margin-left: 2px;
  _margin-top: 6px;
                                                                                          xbackground-color: white !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"]{
  display: table !important;
  margin:   0px !important;
  padding:  0px !important;
  width:    426px !important;
  height:   310px !important;
                                                                                          xbackground-color: green !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> GRID CELLS */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] td{
  display: table-cell !important;
  height: 145px !important;
  width: 90px !important;
  text-align: left !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> GRID CELLS >> FIRST GRID IN ROW */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] td:first-child{
  margin-left: 0px !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> GRID CELLS >> TOP ROW GRIDS */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] tr:first-child td{
  padding-bottom: 20px !important;
}
/*FIX >> FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> GRID CELLS >> BOTTOME ROW GRIDS */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] tr td td[width]{
  padding-bottom: 0px !important;
}
/* (IE) FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table table{
  display: block !important;
  width: 90px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  height: 145px !important;
  overflow: hidden !important;
  _height: 10px !important;
                                                                                          xbackground-color: blue !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] table{
  display: table !important;
  table-layout: fixed !important;
  float: left;
  position: relative;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER >> HOVER STATE >> Text */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] table:hover td a{
  color: #fff !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER >> HOVER STATE >> Image */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] table:hover td a img{
 opacity: .5;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER >> CELLS */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table table td{
  display: block !important;
  width: 90px !important;
  border: none !important;
  margin: 0px !important;
}

/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER >> CELLS */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] table td{
  display: table-cell !important;
  padding: 0px !important;
  text-align: left !important;
  position: relative !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER >> TOP CELL >> Text */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] table td[width$="107"]{
  height: 20px !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER >> BOTTOM CELL >> Image */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] table td[width$="25%"]{
  height: 125px !important;
}
/* (IE) FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER >> CELLS >> IMAGE LINK >> IMAGE */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table table td a img{
  display: block !important;
  width: 90px !important;
  margin: 0px !important;
  padding: 0 !important;
  position: relative;
  top: 0px;
  max-height: 100%;
  min-height: 66%;
  opacity: .99;
  cursor: pointer !important;
  _height: auto;
  _margin: -2px 0px 6px -1px !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='ie_friend.png', sizingMethod="image"), alpha(opacity=66);
}
/* (IE) FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER >> CELLS >> LINKS */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table table td a{
  line-height: 9px !important;
  font-size: 10px !important;
  text-transform: Uppercase;
  font-family: arial, sans-serif !important;
  display: block;
  text-align: left;
  font-weight: normal !important;
  color: #fff !important;
  overflow: visible;
  height: auto;
  color: #ff0000 !important;
  margin-top: 0px !important;
  _position: relative;
  _top: 0px;
  _height: 18px;
  _font-size: 9px;
  _margin-top: 2px !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER >> TOP CELL >> Text Link */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] table td[width$="107"] a{
  height: 20px !important;
  overflow: hidden;
  float: left;
  width: 90px;
  line-height: 10px !important;
}
/* FRIEND SPACE >> CONTENT WRAPPER >> FRIEND WRAPPER >> FRIEND GRID >> TITLE + IMAGE WRAPPER >> TOP CELL >> Text Link */
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table[width$="435"] table td[width$="25%"] a{
  float: left;
  height: 120px !important;
  overflow: hidden;
  width: 90px;
  margin-top: 5px !important;
}
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table table td a:hover{
  text-decoration: none !important;
  color: #fff !important;
  font-weight: normal !important;
}
html body.bodyContent table tbody tr td table tbody tr td.text table.friendSpace tr td.text table table table td a:hover img{
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='ie_friend.png', sizingMethod="image"), alpha(opacity=100);
}
/* FRIEND SPACE & COMMENTS >> TEXT >> Online Now */
span.msOnlineNow{
  display: none !important;
}


/* COMMENTS WRAPPER */
html body.bodyContent table tbody tr td table.friendsComments{
  display: table !important;
  width: 780px !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
  height: auto !important;
  margin-top: 1886px !important;
  top : 0px;
  left: 0px;
  table-layout: fixed !important;
  border: none !important;
  margin-bottom: 20px !important;
  padding-bottom: 100px !important;
  height: 2000px !important;
}
/* (FF) COMMENTS WRAPPER >> Adjust placement */
html body.bodyContent table[class$="friendsComments"], x:-moz-any-link{
    left: -1px;
}
/* COMMENTS WRAPPER >> HEADERS >> Remove */
html body.bodyContent table.friendsComments td.text table tr td span.orangetext15,
html body.bodyContent table.friendsComments td.text table tr td span.redtext,
html body.bodyContent table.friendsComments td.text table tr td b{
  display: none !important;
}
/* COMMENTS WRAPPER >> MAIN CELL */
html body.bodyContent table.friendsComments tr td.text{
  width: 780px !important;
  margin: 0 !important;
  padding: 0 0 0 0px !important;
  display: block !important;
  text-align: center;
}
/* COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER */
html body.bodyContent table.friendsComments tr td.text table{
  display: block !important;
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
  width: 780px !important;
  table-layout: fixed !important;
                                                                                          xbackground-color: blue !important;
}
/* COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL */
html body.bodyContent table.friendsComments tr td.text table td{
  display: block !important;
  margin: 0 !important;
  border: none !important;
  padding: 0px !important;
}
/* (IE) COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL >> COMMENT CONTAINER */
html body.bodyContent table.friendsComments tr td.text table table{
                                                                                          xbackground-color: purple !important;
  display: table !important;
  width: 780px !important;
  margin-left: -3px !important;
  margin-top: -5px !important;
  _margin-top: -7px !important;
}
/* COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL >> COMMENT CONTAINER >> CELL */
html body.bodyContent table.friendsComments tr td.text table table td{
  width: 110px !important;
  display: block !important;
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
  padding-top: 20px !important;
  display: table-cell !important;
  background-image: url('80-000000.png') !important;
  _background-image: none !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='80-000000.png', sizingMethod="scale");
}
/* (IE) COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL >> COMMENT CONTAINER >> SECOND CELL */
html body.bodyContent table.friendsComments tr td.text table table td.columnsWidening{
  width: 630px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  color: #fff;
  line-height: 1.45em;
  font-size: 125%;
  font-family: arial, sans-serif !important;
  overflow: hidden !important;
  _width: 670px !important;
  _line-height: 1.47em;
}
/* (IE) COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> FOOTER CELL >> LINK */
html body.bodyContent table.friendsComments table a{
  _height: 20px;
  _font-size: 1px;
  _font-weight: normal;
  _line-height: 60px;
  _display: block !important;
  _overflow: hidden !important;
  _margin: 0 !important;
  _padding: 0 !important;
  _position: relative;
  _width: 780px !important;
  _margin-left: -3px;
  _margin-top: -3px;
  _cursor: default !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='80-000000.png', sizingMethod="scale");
}
/* COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> FOOTER CELL */
html body.bodyContent table.friendsComments table td[align$="right"]{
  margin: 0 !important; 
  padding:0 !important;
  width: 780px !important;
  text-align: center;
  display: block !important;
  float: right;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  height: 20px;
  bottom: -14px;
  background-image: url('80-000000.png');
}
/* (FF2) COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> FOOTER CELL */
html body.bodyContent table.friendsComments table td[align$="right"], x:-moz-any-link { bottom: -13px; }
/* (FF3) COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> FOOTER CELL */
html body.bodyContent table.friendsComments table td[align$="right"], x:-moz-any-link, x:default {
  bottom: -14px;
}
/* COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> FOOTER CELL >> LINK */
html body.bodyContent table.friendsComments table td[align$="right"] a{
  display: block !important;
  width: 1px;
  height: 20px;
  overflow: hidden;
  line-height: 200px;
  margin-top: 40px;
  cursor: default !important;
}
/* (IE) COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL >> COMMENT CONTAINER >> CELL >> LINK */
html body.bodyContent table.friendsComments td.text table tr td table tr td a{
                                                                                          xbackground-color: green !important;
  width: 90px !important;
  display: block !important;
  text-align: right;
  padding: 0 !important;
  font-family: arial, sans-serif !important;
  height: 19px;
  line-height: 9px !important;
  font-size: 10px !important;
  font-weight: normal !important;
  text-transform: Uppercase;
  float: left;
  margin-left: 20px !important;
  color: #FDFD49 !important;
  cursor: pointer !important;
  background-color: transparent !important;
  _margin-top: 0px !important;
  _margin-right: -3px !important;
  _margin-left: 0px !important;
  _font-size: 9px !important;
  _float: right;
  _height: 18px !important;
  _overflow: visible !important;
  filter: none;
}
html body.bodyContent table.friendsComments td.text table tr td table tr td a:hover{
  color: #ffffff !important;
  text-decoration: none !important;
}
html body.bodyContent table.friendsComments td.text table tr td table tr td[width$="150"]:hover a{
  color: #ffffff !important;
}
html body.bodyContent table.friendsComments td.text table tr td table tr td[width$="150"]:hover a img{
  opacity: .5;
}
/* COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL >> COMMENT CONTAINER >> FIRST CELL >> LINK */
html body.bodyContent table.friendsComments td.text table tr td table tr td[width$="150"] a{
  width: 90px !important;
  height: 90px !important;
  overflow: hidden;
}
/* COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL >> COMMENT CONTAINER >> FIRST CELL >> LINK */
html body.bodyContent table.friendsComments td.text table tr td table tr td[width$="150"] a:first-child{ 
  height: 18px !important;
  overflow: hidden !important;
  margin-bottom: 1px !important;
}
/* (IE) COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL >> COMMENT CONTAINER >> FIRST CELL >> LINK >> IMG */
html body.bodyContent table.friendsComments td.text table tr td table tr td a img{
  background-color: #000000 !important;
  min-height: 90px;
  display: block !important;
  margin-top: 2px !important;
  _margin-right: 3px !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='ie_commenter.png', sizingMethod="image"), alpha(opacity=66);
}
/* (IE) COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL >> COMMENT CONTAINER >> FIRST CELL >> LINK >> IMG >> HOVER */
html body.bodyContent table.friendsComments td.text table tr td table tr td a:hover img{
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='ie_commenter.png', sizingMethod="image"), alpha(opacity=100);
}
/* (IE) COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL >> COMMENT CONTAINER >> SECOND CELL >> DATE */
html body.bodyContent table.friendsComments table table td.columnsWidening span.blacktext10{
  display: block !important;
  width: 100% !important;
  height: 18px !important;
  font-weight: normal !important;
  font-family: arial, sans-serif !important;
  line-height: 9px !important;
  font-size: 10px !important;
  text-transform: Uppercase;
  color: #999999 !important;
  _font-size: 9px !important;
  _height: 16px;
}
/* FOOTER >> HIDE FOOTER ELEMENTS */
td[id$=footerWarpper]{
  display: none !important;
}
/* (IE) FOOTER >> HIDE FOOTER ELEMENTS */
html body.bodyContent table tr td br,
html body.bodyContent table tr td font,
html body.bodyContent table tr td div div a.text{
  _display: none !important;
}
/* (IE) FOOTER >> HIDE LINKS AT BOTTOM */
html body.bodyContent table tr td div div{
  _visibility: hidden !important;
}
/* (IE) FIX >> MYSPACE ADD AND SEARCH BAR */
html body.bodyContent div div table tr td div div{
  _visibility: visible !important;
}
/* COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL >> COMMENT CONTAINER >> SECOND CELL >> ADMIN LINKS */
div.commentlinks{
  display: none !important;
}
/* COMMENTS WRAPPER >> MAIN CELL >> COMMENT ONLY WRAPPER >> CELL >> COMMENT CONTAINER >> SECOND CELL >> IMAGE */
html body.bodyContent table.friendsComments table table td.columnsWidening img{
  display: block !important;
  margin: 0 10px;
}

